<h1 class="mt-5">Nested Selectors</h1>
<hr>
<form [formGroup]="myForm">
    <!-- REGIONS -->
    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Continents</label>
            <select 
                class="form-control"
                formControlName="region"
                >
                <option value="">-- Select Continent --</option>
                <option *ngFor="let region of regions" [value]="region">{{ region | titlecase }}</option>
            </select>
        </div>
    </div>

    <!-- COUNTRIES -->
    <div *ngIf="countriesByRegion.length !== 0" class="row mb-3">
        <div class="col">
            <label class="form-label">Countries</label>
            <select 
                class="form-control"
                formControlName="country"
                >
                <option value="">-- Select Country --</option>
                <option *ngFor="let country of countriesByRegion" [value]="country.cca3">{{ country.name | titlecase }}</option>
            </select>
        </div>
    </div>

    <!-- BORDERS -->
    <div *ngIf="bordersByCountries.length !== 0" class="row mb-3">
        <div class="col">
            <label class="form-label">Borders</label>
            <select 
                class="form-control"
                formControlName="border"
                >
                <option value="">-- Select Borders --</option>
                <option *ngFor="let country of bordersByCountries" [value]="country.cca3">{{ country.name| titlecase }}</option>
            </select>
        </div>
    </div>
</form>

<div class="my-3">
    <h3>Form</h3>
    <code>{{ myForm.value | json }}</code>
</div>

<div class="my-3">
    <p>Form Valid: {{ myForm.valid | json }}</p>
</div>
